@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
/*titulo*/
body {
  /*diseño nav*/ }
  body .head {
    padding: 8px;
    grid-area: cabeza;
    display: inline-flex;
    align-items: center;
    min-height: 50%;
    max-height: 80%;
    min-width: 100%;
    border-radius: 25px;
    /*foto nav*/ }
    body .head .foto {
      display: flex;
      flex-direction: start;
      padding-right: 10%;
      margin: 5px;
      min-width: 50%;
      min-height: 70%; }
      body .head .foto .ban {
        max-width: 150px;
        max-height: 80px; }
      body .head .foto .h11 {
        font-weight: bold;
        font-style: oblique;
        text-shadow: palevioletred 3px 5px; }
  body .nave {
    min-width: 50%;
    min-height: 100%;
    padding-right: 10%; }
    body .nave .pul {
      padding: 0;
      margin-top: 25px; }
      body .nave .pul .botonNave {
        text-decoration: none;
        list-style: none;
        font-size: 20px;
        background-color: pink;
        border-radius: 20px;
        /*efecto agrandar*/ }
        body .nave .pul .botonNave a {
          color: black;
          border: 2px pink inset;
          border-radius: 20px;
          font-weight: bold; }
      body .nave .pul .botonNave:hover a {
        color: gray;
        border: 2px pink outset; }

/*footer*/
body .footer {
  grid-area: pie;
  border-top: 1px black solid;
  display: flex;
  align-items: center;
  margin-top: 10%;
  justify-content: space-between; }
  body .footer .partUno {
    display: flex;
    flex-direction: column;
    text-align: start; }
  body .footer .letra {
    font-size: 1rem;
    color: #652A0E;
    line-height: 1.56; }

a {
  text-decoration: none;
  color: black; }

.textoP {
  font-size: 1.2rem;
  line-height: 1.56;
  text-align: start;
  margin: 15px;
  font-weight: bold;
  color: #652A0E; }

.tituloDos {
  font-size: 2rem;
  line-height: 2.4;
  color: #be8267;
  font-weight: bold;
  text-shadow: black 1px 1px; }

.tituloTres {
  font-size: 1.6rem;
  line-height: 1.92;
  font-weight: bold;
  text-shadow: gray 1px 1px;
  color: #724530; }

/*PAGINA 1 INDEX*/
.contenedorUno {
  background-image: linear-gradient(to left, #ba5370, #f4e2d8);
  text-align: center;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas: "cabeza cabeza" "imgprincipal imgprincipal" "texto texto" "pie pie";
  margin-left: 10px;
  margin-right: 10px;
  gap: 3px; }
  .contenedorUno .imgPrincipal {
    grid-area: imgprincipal; }
    .contenedorUno .imgPrincipal img {
      width: 50%; }
  .contenedorUno .principal {
    grid-area: texto;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 8px double #000000; }

/*PAGINA 2 TRATAMIENTOS*/
.contenedorDos {
  background-image: linear-gradient(to left, #ba5370, #f4e2d8);
  text-align: center;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas: "cabeza cabeza" "tratamientos tratamientos" "videos videos" "pie pie";
  gap: 3px; }
  .contenedorDos .principalDos {
    grid-area: tratamientos;
    font-size: 2rem;
    margin: 5px; }
  .contenedorDos .tratamientos {
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 8px double #000000;
    margin-right: 5px;
    padding: 10px; }

.imagenesVideo {
  grid-area: videos;
  display: flex;
  justify-self: center;
  width: 50%;
  height: 50%; }
  .imagenesVideo .fotitos {
    max-width: 90%; }

/*PAGINA 3 QUIENES SOMOS*/
.contenedorTres {
  background-image: linear-gradient(to left, #ba5370, #f4e2d8);
  text-align: center;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas: "cabeza cabeza" "pr pr" "obj obj" "pie pie";
  gap: 5px;
  margin-left: 10px;
  margin-right: 10px; }
  .contenedorTres .objetivos {
    grid-area: obj;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 8px double #000000;
    width: auto;
    background-color: linear-gradient(to top, cadetblue, white); }
  .contenedorTres .presentacion {
    grid-area: pr;
    display: flex;
    justify-content: space-around; }
    .contenedorTres .presentacion .roxana,
    .contenedorTres .presentacion .tamara {
      width: auto;
      margin-right: 5px;
      padding: 2px; }
      .contenedorTres .presentacion .roxana .img1,
      .contenedorTres .presentacion .tamara .img1 {
        width: 250px;
        height: 250px;
        border-radius: 70px; }

/*PAGINA 4 INDICACIONES*/
.contenedorCuatro {
  background-image: linear-gradient(to left, #ba5370, #f4e2d8);
  text-align: center;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas: "cabeza cabeza" "indica indica" "cata cata" "pie pie";
  gap: 5px;
  margin-left: 10px;
  margin-right: 10px; }
  .contenedorCuatro .indicaciones {
    grid-area: indica;
    display: flex;
    flex-direction: row; }
    .contenedorCuatro .indicaciones .cuidado {
      min-width: 50%; }
      .contenedorCuatro .indicaciones .cuidado .diseño {
        background-color: pink;
        border-radius: 20px; }

.parteDos {
  grid-area: cata; }
  .parteDos .pr {
    display: flex;
    justify-content: space-evenly; }
    .parteDos .pr .productoImg {
      width: 300px;
      height: auto; }
      .parteDos .pr .productoImg img {
        width: 300px;
        max-height: 300px; }
  .parteDos .productos .seleccionProductos {
    border: 2px black solid; }
  .parteDos .productos .boton {
    width: auto;
    height: 30px;
    font-weight: bold;
    margin-bottom: 5px; }

/*PAGINA 5 CONTACTO*/
.contenedorCinco {
  background-image: linear-gradient(to left, #ba5370, #f4e2d8);
  text-align: center;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas: "cabeza cabeza" "formu ubica" "formu ubica" "redes redes" "pie pie";
  margin-left: 10px;
  margin-right: 10px;
  gap: 3px; }
  .contenedorCinco .formulario {
    grid-area: formu;
    text-align: center;
    margin-bottom: 10%; }
    .contenedorCinco .formulario .contenido {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border: 2px black solid; }
      .contenedorCinco .formulario .contenido #nombre,
      .contenedorCinco .formulario .contenido #numero,
      .contenedorCinco .formulario .contenido #email,
      .contenedorCinco .formulario .contenido #tratamiento {
        height: 25px;
        border: 2px black solid; }
  .contenedorCinco .ubicacion {
    grid-area: ubica;
    margin-bottom: 10%; }
    .contenedorCinco .ubicacion iframe {
      width: 80%;
      height: 90%; }
  .contenedorCinco .redes {
    grid-area: redes;
    border: 2px black solid;
    background-color: white; }

/*........... medias ............*/
@media screen and (min-width: 397px) and (max-width: 709px) {
  .contenedorDos .principalDos {
    margin-left: 5%; } }

@media screen and (max-width: 401px) {
  /*pagina 1*/
  .contenedorUno {
    display: grid;
    grid-template-areas: "cabeza cabeza" "texto texto " "pie pie"; }
    .contenedorUno .imgPrincipal {
      display: none; }
      .contenedorUno .imgPrincipal .principal p {
        font-size: 1.1rem; }
  .presentacion {
    display: inline; }
  /*pagina2*/
  .contenedorDos {
    display: grid;
    grid-area: "cabeza cabeza" "tratamiento tratamiento" "video video" "pie pie"; }
    .contenedorDos .principalDos {
      display: block;
      flex-direction: column; }
    .contenedorDos .tratamientos {
      margin-left: 15px;
      margin-bottom: 10px;
      width: 350px;
      height: 300px;
      overflow: auto; }
    .contenedorDos .imagenesVideo {
      margin: 15px; }
  .contenedorCinco .formulario div {
    width: 90%; } }

@media screen and (max-width: 449px) {
  .contenedorCinco .formulario {
    width: 180%;
    margin-left: 5%; } }

@media screen and (min-width: 450px) and (max-width: 780px) {
  /* tratamientos enderezar*/
  .principalDos {
    flex-wrap: wrap; }
  /*contendor 5*/
  .contenedorCinco {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
    grid-template-areas: "cabeza cabeza" "formu formu" "ubica ubica" "redes redes" "pie pie"; } }

@media screen and (max-width: 518px) {
  .contenedorTres .presentacion {
    display: block;
    flex-direction: column;
    width: 90%;
    margin-left: 15px;
    margin-top: 5px; } }

@media screen and (max-width: 640px) {
  .foto {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10px; }
  .textoP {
    font-size: 1rem;
    line-height: 1.20; }
  .tituloDos {
    font-size: 1.6rem;
    line-height: 1.92; }
  .tituloTres {
    font-size: 1.3rem;
    line-height: 1.56; } }

@media screen and (max-width: 709px) {
  .principalDos {
    width: 90%;
    display: block;
    flex-direction: column; } }

@media screen and (max-width: 465px) {
  .contenedorCuatro .indicaciones {
    display: block; }
  .contenedorCuatro .parteDos {
    display: none; } }

@media screen and (max-width: 626px) {
  .ubicacion {
    display: none; } }

* {
  border: 0;
  padding: 0; }
