/*footer*/
@import "maps";
body{
    .footer{
        grid-area:pie;
        border-top: 1px black solid;
        display: flex;
        align-items: center;
        margin-top: 10%;
        justify-content: space-between;

        .partUno{
            display: flex;
            flex-direction: column;
            text-align: start;
        }
        .letra{
            font-size: 1rem;
            color: #652A0E;
            line-height: 1.56;
            
        }

    }

}