/*titulo*/
@import "maps";

body {
    .head {
        padding: 8px;
        grid-area: cabeza;
        display: inline-flex;
        align-items: center;
        min-height: 50%;
        max-height: 80%;
        min-width: 100%;
        border-radius: 25px;


        /*foto nav*/
        .foto {
            display: flex;
            flex-direction: start;
            padding-right: 10%;
            margin: 5px;
            min-width: 50%;
            min-height: 70%;

            .ban {
                max-width: 150px;
                max-height: 80px;
            }

            .h11 {
                font-weight: bold;
                font-style: oblique;
                text-shadow: palevioletred 3px 5px;
            
            }


        }
    }

    /*diseño nav*/
    .nave {
        min-width: 50%;
        min-height: 100%;
        padding-right: 10%;

        .pul {
            padding: 0;
            margin-top: 25px;


            .botonNave {
                text-decoration: none;
                list-style: none;
                font-size: 20px;
                background-color: pink;
                border-radius: 20px;

                /*efecto agrandar*/
                a {
                    color: black;
                    border: 2px pink inset;
                    border-radius: 20px;
                    font-weight: bold;
                }
            }

            .botonNave:hover {
                a {
                    color: gray;
                    border: 2px pink outset;
                }
            }

        }
    }

}