/*titulo*/
@import "maps";

body {
    .head {
        padding: 8px;
        grid-area: cabeza;
        display: flex;
        align-items: center;
        min-height: 50%;
        max-height: 80%;
        min-width: 100%;
        border: 2px ridge black;
        border-radius: 25px;

        .foto {
            justify-items: start;
            padding-right: 20%;
            min-width: 50%;
            min-height: 70%;

            .ban {
                max-width: 150px;
                max-height: 80px;
            }
        }

        .nave {
            min-width: 50%;
            min-height: 100%;
            padding-right: 10%;

            .ul {
                padding: 0;
                margin-top: 25px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .botonNave {
                    text-decoration: none;
                    list-style: none;
                    font-size: 20px;
                    background-color: pink;
                    border-radius: 20px;
                    /*efecto agrandar*/
                    a {
                        color: black;
                        border: 2px white inset;
                        border-radius: 20px;
                        font-weight: bold;
                    }
                }

                .botonNave:hover {
                    a{
                        color:white;
                        border: 2px pink outset;
                    }
                }

            }
        }

    }
}