/*titulo*/
@import "maps";

body {
    .head {
        padding: 5px;
        grid-area: cabeza;
        display: flex;
        align-items: center;
        min-height: 100%;
        min-width: 100%;
        border: 2px solid black;
        border-radius: 25px;

        .foto {
            justify-items: start;
            padding-right: 25%;
            min-width: 50%;
            min-height: 100%;
            .ban {
                max-width: 250px;
                max-height: 250px;
            }
        }

        .nave{
            min-width: 50%;
            min-height: 100%;
            
            .ul {
                padding: 0;
                margin-top: 25px;
                display: flex;
                flex-direction: row;
                justify-content:space-around;
                .botonNave {
                    text-decoration: none;
                    list-style: none;
                    font-size: 20px;
                    background-color:pink;
                    border-radius: 20px;
                    a{
                        color: black;
                        border: map-get($map, $key:borde );
                        border-radius: 20px;
                        font-weight: bold;
                    }
                }

            }

        }
    }
}