/*menu*/
@import "maps";
body{
    .list{
        grid-area:lista;
        border:1px black solid;
        background-color:map-get($map, $key:fondo2 );
        border-radius:50px;
        .listUl{
            display: flex;
            justify-content: space-evenly;
            li{
                border:1px black solid;
                padding:3px;
                margin: 10px;
                display: flex;
                flex-direction: row;
                font-size: 20px;
                font-weight: bold;
                border-radius: 20px;
                }
        }
    }

}