$map: (
    colorDos:#a45656,
    color:#F09090,
    color3:black,
    color4:(linear-gradient(to left, #4b79a1, #283e51)),
    fondo: (linear-gradient(to top, cadetblue, white)),
    fuente: ('Roboto', sans-serif),
    borde:(2px black solid),
    fondo2:(linear-gradient(to left, #ba5370, #f4e2d8)),

);