@mixin body{
    background-image: map-get($map, $key:fondo2 );
    text-align: center;
    font-family: map-get($map, $key:fuente );
    display: grid;
    grid-template-columns:1fr 3fr;
    grid-template-rows: auto auto;
}

@mixin bordesDos{
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 8px double #000000;
}