@import "maps", "mixin";

/*PAGINA 2 TRATAMIENTOS*/
.contenedorDos {
    @include body();
    grid-template-areas:
        "cabeza cabeza"
        "tratamientos tratamientos"
        "videos videos"
        "pie pie";
        gap: 3px;

    .principalDos {
        grid-area: tratamientos;
        font-size: 2rem;
        margin: 5px;
      
       
    }

    .tratamientos {
        @include bordesDos ();
        margin-right: 5px;
        padding: 10px;
        
    }
}

.imagenesVideo {
    grid-area: videos;
    display: flex;
    justify-self: center;
    width: 50%;
    height: 50%;

    .fotitos {
        max-width: 90%;

    }

}