@import "maps", "mixin";

/*PAGINA 2 TRATAMIENTOS*/
.contenedorDos {
    @include body();
    grid-template-areas:
        "cabeza cabeza"
        "tratamientos tratamientos"
        "videos videos"
        "pie pie";
        gap: 3px;

    .principalDos {
        grid-area: tratamientos;
        font-size: 2rem;
        margin: 5px;
      
       
    }

    .tratamientos {
        @include bordesDos ();
        margin-right: 5px;
        padding: 10px;
        

        legend {
            font-size: 2rem;
            margin-top: 25px;
            margin-bottom: 0;
            font-weight: bold;
            color: map-get($map , $key: colorDos);
            text-shadow: map-get($map, $key: color) 1px 2px;
        }
    }
}

.imagenesVideo {
    grid-area: videos;
    display: flex;
    justify-self: center;
    width: 50%;
    height: 50%;

    .fotitos {
        max-width: 90%;

    }

}