@import "maps","mixin";


/*PAGINA 5 CONTACTO*/

.contenedorCinco {
    @include body();
    grid-template-areas:
        "cabeza cabeza"
        "formu ubica"
        "formu ubica"
        "redes redes"
        "pie pie";
        margin-left: 10px;
        margin-right: 10px;
        gap: 3px;

    .formulario {
        grid-area: formu;
        text-align: center;
        margin-bottom: 10%;

        .contenido {
            display: flex;
            justify-content: center;
            flex-direction: column;
            border: map-get($map, $key: borde);

            #nombre,
            #numero,
            #email,
            #tratamiento {
                height: 25px;
                border: map-get($map, $key: borde);
            }
        }
    }

    .ubicacion {
        grid-area: ubica;
        margin-bottom: 10%;
        iframe{
            width: 80%;
            height: 90%;
        }
    }

    .redes {
        grid-area: redes;
        border: map-get($map, $key: borde);
        background-color: white;
    }
}

