@import "maps","mixin";
/*PAGINA 1 INDEX*/
.contenedorUno {
    @include body();
    grid-template-areas:
        "cabeza cabeza"
        "imgprincipal imgprincipal"
        "texto texto"
        "pie pie";
        margin-left: 10px;
        margin-right: 10px;
        gap: 3px;

    .imgPrincipal {
        grid-area: imgprincipal;

        img {
            width: 50%;
        }
    }

    .principal {
        grid-area: texto;
        @include bordesDos ();      

    }


}