@import "maps","mixin";

/*PAGINA 3 QUIENES SOMOS*/
.contenedorTres {
    @include body();
    grid-template-areas:
        "cabeza cabeza"
        "pr pr"
        "obj obj"
        "pie pie";
        gap:5px;

    .objetivos {
        grid-area: obj;
        @include bordesDos ();
        width: auto;
        background-color: map-get($map, $key:fondo );
    }

    .presentacion {
        grid-area: pr;
        display: flex;
        justify-content: space-around;

        .roxana,
        .tamara {
            width: auto;
            margin-right: 5px;
            padding: 2px;

            .textoPr {
                height: 300px;
                overflow: auto;
                background-color: map-get($map, $key:fondo2);
                text-align: start;
            }

            .img1 {
                width: 250px;
                height: 250px;
                border-radius: 70px;
            }
        .nombre{
            font-size: 2rem;
            color:black;
            font-weight: bold;
            
        }
        }
    }
}