@import "maps", "mixin";


/*........... medias ............*/
@media screen and (min-width:397px) and (max-width:709px) {
    .contenedorDos {
        .principalDos {
            margin-left: 5%;
        }
        
    }
}
@media screen and (max-width:401px) {

    /*pagina 1*/
    .contenedorUno {
        display: grid;
        grid-template-areas:
            "cabeza cabeza"
            "texto texto "
            "pie pie";

        .imgPrincipal {
            display: none;

            .principal p {
                font-size: 1.1rem;
            }
        }
    }

    .presentacion {
        display: inline;
    }

    /*pagina2*/
    .contenedorDos {
        display: grid;
        grid-area:
            "cabeza cabeza"
            "tratamiento tratamiento"
            "video video"
            "pie pie";

        .principalDos {
            display: block;
            flex-direction: column;
        }

        .tratamientos {
            margin-left: 15px;
            margin-bottom: 10px;
            width: 350px;
            height: 300px;
            overflow: auto;
        }

        .imagenesVideo {
            margin: 15px;
        }
    }
    .contenedorCinco{
        .formulario{
            div{
                width: 90%;
            }
        }
        
    }

}
@media screen and (max-width:449px)  {
    
    .contenedorCinco {

        .formulario {
            width: 180%;
            margin-left: 5%;

        }
    }
}
@media screen and (min-width:450px) and(max-width:780px) {

    /* tratamientos enderezar*/
    .principalDos {
        flex-wrap: wrap;

    }

    /*contendor 5*/
    .contenedorCinco {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "cabeza cabeza"
            "formu formu"
            "ubica ubica"
            "redes redes"
            "pie pie";
    }

}

@media screen and (max-width:518px) {
    .contenedorTres {
        .presentacion {
            display: block;
            flex-direction: column;
            width: 90%;
            margin-left: 15px;
            margin-top: 5px;
        }
    }
}


@media screen and (max-width:640px) {
    .foto {
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 10px;
    }

    .textoP {
        font-size: 1rem;
        line-height: 1.20;
    }

    .tituloDos {
        font-size: 1.6rem;
        line-height: 1.92;
    }

    .tituloTres {
        font-size: 1.3rem;
        line-height: 1.56;
    }

}


@media screen and (max-width: 709px) {

    .principalDos {
        width: 90%;
        display: block;
        flex-direction: column;
    }
}

@media screen and (max-width:465px) {
    .contenedorCuatro {
        .indicaciones {
            display: block
        }

        .parteDos {
            display: none;
        }

    }
}

@media screen and (max-width:626px) {
    .ubicacion {
        display: none;
    }

}

