@import "maps","mixin";
/*tablet*/
@media screen and (min-width:500px) and(max-width:780px )  {
    /* tratamientos enderezar*/
    .principalDos{
        flex-wrap: wrap;
        
    }

    /*contendor 5*/
    .contenedorCinco {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "cabeza cabeza"
            "formu formu"
            "ubica ubica"
            "redes redes"
            "pie pie";
    }

}
/*celular*/
@media screen and (max-width:401px) {
    .foto{
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 10px;
    }
    p{
        font-size: 1.3rem;
    }
/*pagina 1*/
    .contenedorUno {
        display: grid;
        grid-template-areas:
        "cabeza cabeza"
        "texto texto "
        "pie pie";
        .imgPrincipal {
            display: none;
        .principal p {
            font-size: 1.1rem;
        }
        }
        
    }
    
    .presentacion {
        display: inline;
    }
/*pagina2*/
    .contenedorDos {
        display: grid;
        grid-area:
        "cabeza cabeza"
        "tratamiento tratamiento"
        "video video"
        "pie pie";
        .principalDos {
            display: block;
            flex-direction: column;
        }
        .tratamientos {
            margin-left: 15px;
            margin-bottom: 10px;
            width: 350px;
            height: 300px;
            overflow: auto;
        }
        .imagenesVideo{
            margin: 15px;
        }
    }
   
/*pagina3*/
    .contenedorTres {
        display: grid;
        grid-area:
            "cabeza cabeza"
            "pr pr"
            "obj obj"
            "pie pie";
            .presentacion {
                display: block;
                flex-direction: column;
                width: 90%;
                margin-left: 15px;
                margin-top: 5px;
            }
    }

   
    
    /*pagina 4*/
    .contenedorCuatro {
        display: grid;
        grid-template-areas:
        "cabeza cabeza"
        "indica indica"
        "cata cata"
        "pie pie";
      
        .indicaciones{
            display: block;
            flex-direction: column;
        }
        .catalogo{
            overflow: auto;
    
        }

    }
   

/*pagina5*/
    .contenedorCinco {
        display: grid;
        grid-template-areas:
            "cabeza cabeza"
            "formu formu"
            "redes redes"
            "pie pie";

    }

    .ubicacion {
        display: none;
    }


}

/*MEDIAS*/
@media screen and (max-width: 709px){

    .principalDos {
        width: 90%;
        display: block;
        flex-direction: column;
    }
}