@import "maps";

.textoP{
    font-size: 1.2rem;
    line-height: 1.56;
    text-align: start;
    margin:15px;
    font-weight: bold;
    color: #652A0E;
    
    
}

.tituloDos{
    font-size: 2rem;
    line-height: 2.4;
    color: #be8267;
    font-weight: bold;
    text-shadow: black 1px 1px;

}

.tituloTres{
    font-size: 1.6rem;
    line-height: 1.92;
    font-weight: bold;
    text-shadow: gray 1px 1px;
    color: #724530;
}