@import "maps";

.textoP{
    font-size: 1.2rem;
    line-height: 1.56;
    text-align: start;
    margin:15px
}

.tituloDos{
    font-size: 2rem;
    line-height: 2.4;

}

.tituloTres{
    font-size: 1.6rem;
    line-height: 1.92;
}