@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import "maps", "header", "list", "footer", "mixin", "enlaces","textos-general","pagina1","pagina2","pagina3","pagina4","pagina5","responsive";

*{
    border:0;
    padding:0;
}

